xsd/Geo3DStyle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:geo3dml="http://www.cgs.gov.cn/geo3dml"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:se="http://www.opengis.net/se" targetNamespace="http://www.cgs.gov.cn/geo3dml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <annotation>
        <documentation>
    参考OGC SLD sld:UserStyle的结构定义了关于geo3dml:Geo3DLayer的可视化参数。本方案没有直接引用SLD规范的定义，因为SLD是专门为WMS服务提供支撑的，需要与WMS规范的其它内容协同工作。而本方案的目的在于提供地质模型的中间交换格式，不刻意追求与WMS紧耦合关系。但是，本文档所定义的geo3dml:Geo3DStyle结构可以方便地转换为sld:UserStyle结构，从而为WMS等其它服务提供支持。此外，本文档还针对3D可视化的要求，在OGC SE规范的基础上定义了geo3dml:GeoPointSymbolizer、geo3dml:GeoLineSymbolizer和geo3dml:GeoSurfaceSymbolizer：主要是在SE规范相应对象的基础上加上了3D可视化的光照、材质与纹理参数。
        </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
    <import namespace="http://www.opengis.net/se" schemaLocation="http://schemas.opengis.net/se/1.1.0/FeatureStyle.xsd" />
    <include schemaLocation="./GeoBasicTypes.xsd"/>

    <!-- 样式参数包装组件定义-->
    <complexType name="FeatureTypeStylePropertyType">
        <sequence>
            <element ref="se:FeatureTypeStyle" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <complexType name="CoverageStylePropertyType">
        <sequence>
            <element ref="se:CoverageStyle" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 三维地质样式 Geo3DStyle 组件定义-->
    <complexType name="Geo3DStyleType">
        <annotation>
            <documentation>
                针对geo3dml:Geo3DLayer定义的地质模型视图中要素空间属性的可视化参数。本结构的定义参考了OGC SLD规范中关于sld:UserStyle结构的定义。已废除，保留代码。
            </documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <annotation>
                    <documentation>
                        从gml:AbstractGMLType继承了gml:id、gml:name、gml:description等成员，以便于其它对象通过gml:id引用本对象，或者将其转换为带唯一名字属性的sld:UserStyle对象。
                    </documentation>
                </annotation>
                <sequence>
                    <choice maxOccurs="1">
                        <element name="FeatureStyle" type="geo3dml:FeatureTypeStylePropertyType"/>
                        <element name="CoverageStyle" type="geo3dml:CoverageStylePropertyType"/>
                    </choice>
                </sequence>
                <attribute ref="xml:base">
                    <annotation>
                        <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="Geo3DStyle" type="geo3dml:Geo3DStyleType" substitutionGroup="gml:AbstractGML" />
    <complexType name="Geo3DStylePropertyType">
        <annotation>
            <documentation>
                Geo3DLayer元素的子元素Styles进一步包含若干Style元素，Style元素的类型即为Geo3DStylePropertyType。本元素引用了Geo3DStyle元素。
            </documentation>
        </annotation>
        <sequence>
            <element ref="geo3dml:Geo3DStyle" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!-- 点状地质要素符号化参数组件定义-->
    <complexType name="GeoPointSymbolizerType">
        <annotation>
            <documentation>扩展se:PointSymbolizerType类型，加入geo3dml:Material材质参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="se:PointSymbolizerType">
                <sequence>
                    <element name="PointMaterial" type="geo3dml:MaterialPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>绘制点时忽略材质参数中的纹理。</documentation>
                        </annotation>
                    </element>
                    <element name="GBSymbol" type="string" minOccurs="0">
                        <annotation>
                            <documentation>点符号，遵照《GB/T958-2015 区域地质图图例》中关于点状要素图例规定，本元素存放图例代码，如：GPOB010001。</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="xml:base">
                    <annotation>
                        <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoPointSymbolizer" type="geo3dml:GeoPointSymbolizerType" substitutionGroup="se:PointSymbolizer" />
    <complexType name="GeoPointSymbolizerPropertyType">
        <sequence>
            <element ref="geo3dml:GeoPointSymbolizer" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 线状地质要素符号化参数组件定义-->
    <complexType name="GeoLineSymbolizerType">
        <annotation>
            <documentation>扩展se:LineSymbolizerType类型，加入geo3dml:Material材质参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="se:LineSymbolizerType">
                <sequence>
                    <element name="LineMaterial" type="geo3dml:MaterialPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>绘制线时忽略材质参数中的纹理。</documentation>
                        </annotation>
                    </element>
                    <element name="GBSymbol" type="string" minOccurs="0">
                        <annotation>
                            <documentation>线符号，遵照《GB/T958-2015 区域地质图图例》中关于线状要素图例规定，本元素存放图例代码，如：GSFA010030。</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="xml:base">
                    <annotation>
                        <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoLineSymbolizer" type="geo3dml:GeoLineSymbolizerType" substitutionGroup="se:LineSymbolizer" />
    <complexType name="GeoLineSymbolizerPropertyType">
        <sequence>
            <element ref="geo3dml:GeoLineSymbolizer" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 面状地质要素符号化参数组件定义-->
    <complexType name="GeoSurfaceSymbolizerType">
        <annotation>
            <documentation>曲面(如TIN)的可视化参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="se:SymbolizerType">
                <sequence>
                    <element ref="se:Geometry" minOccurs="0"/>
                    <element name="Front" type="geo3dml:MaterialPropertyType">
                        <annotation>
                            <documentation>面的正面材质。</documentation>
                        </annotation>
                    </element>
                    <element name="Back" type="geo3dml:MaterialPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>面的反面材质。</documentation>
                        </annotation>
                    </element>
                    <element name="VertexSymbolizer" type="geo3dml:GeoPointSymbolizerPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>顶点的可视化参数（可选）。</documentation>
                        </annotation>
                    </element>
                    <element name="FrameSymbolizer" type="geo3dml:GeoLineSymbolizerPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>线框的可视化参数（可选）。</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="xml:base">
                    <annotation>
                        <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoSurfaceSymbolizer" type="geo3dml:GeoSurfaceSymbolizerType" substitutionGroup="se:Symbolizer" />
    <complexType name="GeoSurfaceSymbolizerPropertyType">
        <sequence>
            <element ref="geo3dml:GeoSurfaceSymbolizer" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 离散覆盖符号化参数组件定义-->
    <complexType name="GeoDiscreteCoverageSymbolizerType">
        <annotation>
            <documentation>属性场的可视化参数。可定义多个se:Rule，从而在一个符号中完整定义属性场各种属性的可视化参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="se:SymbolizerType">
                <sequence>
                    <element ref="se:Geometry" minOccurs="0">
                        <annotation>
                            <documentation>用于指定要被绘制的属性场的名字。</documentation>
                        </annotation>
                    </element>
                    <element ref="se:Rule" maxOccurs="unbounded">
                        <annotation>
                            <documentation>设置属性场中对象的属性匹配条件，为几何对象配置相应的可视化参数。</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoDiscreteCoverageSymbolizer" type="geo3dml:GeoDiscreteCoverageSymbolizerType" substitutionGroup="se:Symbolizer" />
    <complexType name="GeoDiscreteCoverageSymbolizerPropertyType">
        <sequence>
            <element ref="geo3dml:GeoDiscreteCoverageSymbolizer" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 基础材质参数组件定义-->
    <complexType name="MaterialType">
        <annotation>
            <documentation>三维可视化材质结构，包括灯光、颜色等参数。</documentation>
        </annotation>
        <sequence>
            <choice minOccurs="0">
                <element name="BaseColor" type="geo3dml:ColorPlusAlpha" minOccurs="0">
                    <annotation>
                        <documentation>基础颜色，物体本身颜色，使用自定义的颜色类型。也包含透明度参数。</documentation>
                    </annotation>
                </element>
                <element name="BaseTexture" type="geo3dml:AbstractTexturePropertyType" minOccurs="0">
                    <annotation>
                        <documentation>基础纹理参数，支持图像纹理和GB符号填充。</documentation>
                    </annotation>
                </element>
            </choice>
            <element name="NormalTexture" type="geo3dml:AbstractTexturePropertyType" minOccurs="0">
                <annotation>
                    <documentation>法向纹理。使用其RGB通道的值。</documentation>
                </annotation>
            </element>
            <element name="OcclusionTexture" type="geo3dml:AbstractTexturePropertyType" minOccurs="0">
                <annotation>
                    <documentation>环境光遮蔽纹理。仅使用其R通道的值。</documentation>
                </annotation>
            </element>
            <element name="EmissiveColor" type="geo3dml:Color" default="0.0 0.0 0.0" minOccurs="0">
                <annotation>
                    <documentation>如果对象自身发光，该参数指定其颜色。</documentation>
                </annotation>
            </element>
        </sequence>
        <attribute ref="xml:base">
            <annotation>
                <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
            </annotation>
        </attribute>
    </complexType>
    <element name="Material" type="geo3dml:MaterialType" />
    <complexType name="MaterialPropertyType">
        <sequence>
            <element ref="geo3dml:Material" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- PBR材质参数组件定义-->
    <complexType name="PBRMaterialType">
        <annotation>
            <documentation>Physically Based Rendering (PBR)材质参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="geo3dml:MaterialType">
                <element name="Metallic" type="geo3dml:DoubleBetween0And1">
                    <annotation>
                        <documentation>金属度，一个0到1之间的浮点数，0表示非金属，1表示完全金属。</documentation>
                    </annotation>
                </element>
                <element name="Roughness" type="geo3dml:DoubleBetween0And1">
                    <annotation>
                        <documentation>
                            粗糙度，一个0到1之间的浮点数，0表示非常光滑的表面，反射光会集中形成清晰的高光；而1表示非常粗糙的表面，反射光会被散射，形成较模糊的反射。
                        </documentation>
                    </annotation>
                </element>
                <element name="SpecularColor" type="geo3dml:Color" minOccurs="0">
                    <annotation>
                        <documentation>镜面反射颜色，可选，用于非金属材质的高光颜色。</documentation>
                    </annotation>
                </element>
                <element name="IndexOfRefraction" type="float" minOccurs="0">
                    <annotation>
                        <documentation>折射率，仅适用于透明或半透明材质。</documentation>
                    </annotation>
                </element>
            </extension>
        </complexContent>
    </complexType>
    <element name="PBRMaterial" type="geo3dml:PBRMaterialType" substitutionGroup="geo3dml:Material" />

    <!-- 基础纹理参数-->
    <complexType name="AbstractTextureType" abstract="true">
        <annotation>
            <documentation>纹理结构。参考CityGML的Appearance模块中关于AbstractTextureType的定义。</documentation>
        </annotation>
        <sequence>
            <choice>
                <element name="Image">
                    <annotation>
                        <documentation>图像文件地址。</documentation>
                    </annotation>
                    <complexType>
                        <element name="URI" type="anyURI" />
                        <element name="MimeType" type="string" />
                    </complexType>
                </element>
                <element name="GBSymbol">
                    <annotation>
                        <documentation>使用《GB/T958-2015 区域地质图图例》中定义的区填充符号。需要应用程序依据定义实时生成纹理图片。</documentation>
                    </annotation>
                    <complexType>
                        <element name="Code" type="string">
                            <annotation>
                                <documentation>《GB/T958-2015 区域地质图图例》中关于区填充图例代码，如：GOQF010001。</documentation>
                            </annotation>
                        </element>
                        <element name="Stroke" type="geo3dml:Color" default="0.0 0.0 0.0">
                            <annotation>
                                <documentation>符号的前景颜色。</documentation>
                            </annotation>
                        </element>
                        <element name="Fill" type="geo3dml:Color" default="0.0 0.0 0.0">
                            <annotation>
                                <documentation>符号的填充颜色。</documentation>
                            </annotation>
                        </element>
                    </complexType>
                </element>
            </choice>
            
            <element name="WrapMode" default="None">
                <annotation>
                    <documentation>纹理的贴图模式。</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="None">
                            <annotation>
                                <documentation>默认：单幅填充</documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="Wrap">
                            <annotation>
                                <documentation>重复</documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="Mirror">
                            <annotation>
                                <documentation>镜像</documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="Clamp">
                            <annotation>
                                <documentation>按纹理图片的边界扩展</documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="Border">
                            <annotation>
                                <documentation>按定义的边界颜色扩展</documentation>
                            </annotation>
                        </enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="BorderColor" type="geo3dml:ColorPlusAlpha" minOccurs="0">
                <annotation>
                    <documentation>按边界颜色填充纹理时所使用的边界颜色：RGBA。</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="AbstractTexture" type="geo3dml:AbstractTextureType" abstract="true" />
    <complexType name="AbstractTexturePropertyType">
        <sequence>
            <element ref="geo3dml:AbstractTexture" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <!-- 基于地理参考的纹理参数组件定义-->
    <complexType name="GeoReferencedTextureType">
        <annotation>
            <documentation>参见CityGML的Appearance模块中关于GeoReferencedTextureType的定义。</documentation>
        </annotation>
        <complexContent>
            <extension base="geo3dml:AbstractTextureType">
                <sequence>
                    <annotation>
                        <documentation>内嵌定义的纹理映射地理坐标参数。计算方法参见CityGML标准关于Appearance的说明。</documentation>
                    </annotation>
                    <element name="ReferencePoint" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>纹理原点的地理坐标</documentation>
                        </annotation>
                    </element>
                    <element name="Orientation" type="geo3dml:TransformationMatrix2x2Type">
                        <annotation>
                            <documentation>变换矩阵</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="xml:base">
                    <annotation>
                        <documentation>加入此属性是为了避免xlink:link标签所引入的文档验证冲突。</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoReferencedTexture" type="geo3dml:GeoReferencedTextureType" substitutionGroup="geo3dml:AbstractTexture" />

    <!-- 基于纹理坐标的纹理参数组件定义-->
    <complexType name="ParameterizedTextureType">
        <annotation>
            <documentation>依据CityGML的Appearance模块中关于ParameterizedTextureType的定义，此类型的纹理对象将显示地指定顶点对应的纹理坐标或者顶点纹理坐标的计算参数。</documentation>
        </annotation>
        <complexContent>
            <extension base="geo3dml:AbstractTextureType">
                <sequence>
                    <choice>
                        <element name="TexCoordList" type="gml:DirectPositionListType">
                            <annotation>
                                <documentation>依次列出顶点所对应的纹理坐标。</documentation>
                            </annotation>
                        </element>
                        <element name="TexCoordGen" type="geo3dml:TransformationMatrix3x4Type">
                            <annotation>
                                <documentation> 依据顶点坐标计算纹理坐标时使用的矩阵。记该3行4列的矩阵为T，纹理坐标为行向量(s,t)，顶点的齐次世界坐标为列向量p=(x, y, z, w)，则有：(s,t) = (s'/q', t'/q')，而列向量(s', t', q') = T*p。
                                </documentation>
                            </annotation>
                        </element>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ParameterizedTexture" type="geo3dml:ParameterizedTextureType" substitutionGroup="geo3dml:AbstractTexture" />

    <!-- 场景参数组件定义-->
    <complexType name="GeoSceneStyleType">
        <annotation>
            <documentation>地质模型场景范围下的显示参数，主要包括背景和光源信息。</documentation>
        </annotation>
        <sequence>
            <element name="Background" type="geo3dml:Color" default="0.0 0.0 0.0">
                <annotation>
                    <documentation>背景颜色</documentation>
                </annotation>
            </element>
            <element name="Light" minOccurs="0" maxOccurs="8">
                <annotation>
                    <documentation>场景的光照信息</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="On" type="boolean" default="true" minOccurs="0">
                            <annotation>
                                <documentation>标记该光源的启用状态，值为true时表示启用该光源，否则表示不使用该光源。</documentation>
                            </annotation>
                        </element>
                        <element name="Type" default="directionallight" minOccurs="0">
                            <annotation>
                                <documentation>光源的类型：定向光源（directionallight），点光源（pointlight），聚光灯（spotlight）。缺省值为directionallight。</documentation>
                            </annotation>
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="directionallight">
                                        <annotation>
                                            <documentation>定向光源，模拟环境光</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="pointlight">
                                        <annotation>
                                            <documentation>点光源，模拟各种点状光源</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="spotlight">
                                        <annotation>
                                            <documentation>聚光灯，模拟手电筒、探照灯等光源类型</documentation>
                                        </annotation>
                                    </enumeration>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="Position" default="0.0 0.0 1.0" minOccurs="0">
                            <annotation>
                                <documentation>光源的位置。</documentation>
                            </annotation>
                            <simpleType>
                                <restriction base="gml:doubleList">
                                    <length value="3"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="FocalPosition" default="0.0 0.0 0.0" minOccurs="0">
                            <annotation>
                                <documentation>灯光的聚焦位置。与光源的位置配合起来可计算光照的方向。</documentation>
                            </annotation>
                            <simpleType>
                                <restriction base="gml:doubleList">
                                    <length value="3"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="Intensity" type="geo3dml:DoubleBetween0And1" default="1.0" minOccurs="0">
                            <annotation>
                                <documentation>光源的强度</documentation>
                            </annotation>
                        </element>
                        <element name="AmbientColor" type="geo3dml:Color" default="1.0 1.0 1.0" minOccurs="0">
                            <annotation>
                                <documentation>光源的环境光颜色。</documentation>
                            </annotation>
                        </element>
                        <element name="DiffuseColor" type="geo3dml:Color" default="1.0 1.0 1.0" minOccurs="0">
                            <annotation>
                                <documentation>光源的漫反射光颜色。</documentation>
                            </annotation>
                        </element>
                        <element name="SpecularColor" type="geo3dml:Color" default="1.0 1.0 1.0" minOccurs="0">
                            <annotation>
                                <documentation>光源的镜面光颜色。</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <element name="GeoSceneStyle" type="geo3dml:GeoSceneStyleType"/>
    <complexType name="GeoSceneStylePropertyType">
        <sequence>
            <element ref="geo3dml:GeoSceneStyle" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</xs:schema>