xsd/GeoMetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:geo3dml="https://www.iheg.cgs.gov.cn/Standard/geo3dml"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:gmd="http://www.isotc211.org/2005/gmd"
    targetNamespace="https://www.iheg.cgs.gov.cn/Standard/geo3dml"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <annotation>
        <documentation>此文档定义三维地质模型的元数据结构。</documentation>
    </annotation>

    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
    <import namespace="http://www.isotc211.org/2005/gmd"
        schemaLocation="http://www.isotc211.org/2005/gmd/metadataEntity.xsd" />

    <complexType name="AbstractGeo3DMetadataType">
        <annotation>
            <documentation>三维地质元数据抽象类，用于扩展各类元数据结构</documentation>
        </annotation>
        <complexContent>
            <extension base="gmd:MD_Metadata_Type">
                <sequence>
                    <element name="Description" type="string" minOccurs="0">
                        <annotation>
                            <documentation>关于对象的描述。</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractGeo3DMetadata" type="geo3dml:AbstractGeo3DMetadataType" 
        substitutionGroup="gmd:MD_Metadata" />

    <complexType name="Geo3DProjectMetadataType">
        <annotation>
            <documentation>三维地质项目元数据</documentation>
        </annotation>
        <complexContent>
            <extension base="geo3dml:AbstractGeo3DMetadataType">
                <sequence>
                    <element name="ProjectInfo">
                        <annotation>
                            <documentation>建模项目信息</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="Name" type="string" />
                                <element name="Code" type="string" />
                                <element name="StartDate" type="date" />
                                <element name="CompletedDate" type="date" />
                                <element name="Duration" type="decimal" />
                                <element name="Contractor" type="string" />
                            </sequence>
                        </complexType>
                    </element>
                    <element name="ModelCount" type="integer" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Geo3DProjectMetadata" type="geo3dml:Geo3DProjectMetadataType"
        substitutionGroup="geo3dml:AbstractGeo3DMetadata" />

    <complexType name="Geo3DProjectMetadataPropertyType">
        <sequence>
            <element ref="geo3dml:Geo3DProjectMetadata" minOccurs="0" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

    <complexType name="GeoModelMetadataType">
        <annotation>
            <documentation>三维地质模型元数据</documentation>
        </annotation>
        <complexContent>
            <extension base="geo3dml:AbstractGeo3DMetadataType">
                <sequence>
                    <element name="Version" type="string">
                        <annotation>
                            <documentation>模型的版本号。</documentation>
                        </annotation>
                    </element>
                    <element name="SpatialReferenceSystem" type="geo3dml:SpatialReferenceSystemType"
                        minOccurs="0">
                        <annotation>
                            <documentation>空间数据参照系</documentation>
                        </annotation>
                    </element>
                    <element name="ToolName" type="string">
                        <annotation>
                            <documentation>创建该地质模型（项目）所使用的软件工具的名称。</documentation>
                        </annotation>
                    </element>
                    <element name="ToolVersion" type="string">
                        <annotation>
                            <documentation>创建该地质模型所使用的软件工具的版本号。</documentation>
                        </annotation>
                    </element>
                    <element name="TopicCategory" type="string">
                        <annotation>
                            <documentation>模型专题类型，如：水文地质、工程地质等。</documentation>
                        </annotation>
                    </element>
                    <element name="GeographyBoundaryBox" minOccurs="0">
                        <annotation>
                            <documentation>地理范围，包括：最西侧的经度、最东侧的经度、最北端的纬度、最南端的纬度，单位（度），十进制浮点数。</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="WestBoundLongitude" type="decimal" />
                                <element name="EastBoundLongitude" type="decimal" />
                                <element name="SouthBoundLatitude" type="decimal" />
                                <element name="NorthBoundLatitude" type="decimal" />
                            </sequence>
                        </complexType>
                    </element>
                    <element name="VerticalExtent" minOccurs="0">
                        <annotation>
                            <documentation>高程范围</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="MinimumValue" type="decimal" />
                                <element name="MaximumValue" type="decimal" />
                            </sequence>
                            <attribute name="Unit" type="string" use="optional"
                                default="meter" />
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="GeoModelMetadata" type="geo3dml:GeoModelMetadataType"
        substitutionGroup="geo3dml:AbstractGeo3DMetadata" />

    <complexType name="GeoModelMetadataPropertyType">
        <sequence>
            <element ref="geo3dml:GeoModelMetadata" minOccurs="0" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

    <complexType name="SpatialReferenceSystemType">
        <annotation>
            <documentation>空间数据坐标参照系，包括平面坐标系和垂向坐标系。</documentation>
        </annotation>
        <sequence>
            <element name="CoordinateReferenceSystem">
                <annotation>
                    <documentation>平面坐标系参数</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="Identifier">
                            <annotation>
                                <documentation>坐标系标识符，指示坐标系参数的格式。</documentation>
                            </annotation>
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="EPSG">
                                        <annotation>
                                            <documentation>使用EGSP编码指定坐标系，如"4326"。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="OGC WTK">
                                        <annotation>
                                            <documentation>使用OGC WTK格式记录坐标系参数。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="OGC WTK2">
                                        <annotation>
                                            <documentation>使用OGC WTK2格式记录坐标系参数。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="PROJ4">
                                        <annotation>
                                            <documentation>使用PROJ4格式记录坐标系参数。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="自定义">
                                        <annotation>
                                            <documentation>使用自定义的特殊格式记录坐标系参数。</documentation>
                                        </annotation>
                                    </enumeration>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="Parameter" type="string">
                            <annotation>
                                <documentation>按Identifier指定的格式记录坐标系参数，如EPSG编码"4326"。</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="VerticalReferenceSystem" minOccurs="0">
                <annotation>
                    <documentation>垂向坐标系，如“1956年黄海高程系”、“1985年国家高程系”、“大地高程系”等。</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="Category">
                            <annotation>
                                <documentation>指示高程系的类别。</documentation>
                            </annotation>
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="大地高程系">
                                        <annotation>
                                            <documentation>基于椭球基准面的高程。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="国家高程系">
                                        <annotation>
                                            <documentation>国家高程系，如“1956年黄海高程系”，“1985年国家高程系”。</documentation>
                                        </annotation>
                                    </enumeration>
                                    <enumeration value="其它高程系">
                                        <annotation>
                                            <documentation>如各地方的独立高程系。</documentation>
                                        </annotation>
                                    </enumeration>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="ReferenceSystem" type="string" minOccurs="0">
                            <annotation>
                                <documentation>高程坐标系的具体名字，如“1956年黄海高程系”、“1985年国家高程系”、“吴淞零点高程”等。</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
</xs:schema>